@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: auto;
}

body {
  background-color: #0a0c19;
  color: aliceblue;
  font-family: 'Lenora';
  background-image: url(../media/cartographer.png);
  overflow-y: scroll;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  width: 100vw;
  color: aliceblue;
  font-size: 15vw;
  display: flex;
  justify-content: center;
}


/* Scrollbar Styling */


::-webkit-scrollbar {
  position: absolute;
  background-color: transparent;
  width: 0px;
}

@media only screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 3px;
    z-index: 3;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff6f6; 
  }
}
